.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #22223B;
  height: 150px;
  padding: 20px;
  color: white;
  font-family: 'Imbue', sans-serif;
}
#Title {
  font-size: 100px; 
}
@media only screen and (max-width: 600px) {
  #Title {
    font-size: 75px;
  }
}
.App-body {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

:root {
  --bs-body-bg: #B1DDF1 !important;
  
}
.restaurantImg{
  width : 200px;
  height : 200px;
}