.custom-button {
    width: 100px;
    position: absolute;
    top: 3%;
    right: 5%;
    /* Adjust the width as needed */
}

.login-button {
    margin-left: 20px;
    position: absolute;
    right: 20vw;
    top: 2vw;
    /* Adjust the space between the buttons as needed */
}

.signup-button {
    margin-left: 2px;
    position: absolute;
    right: 3.5vw;
    top: 2vw;
    /* Adjust the space between the buttons as needed */
}

.App-body .btn {
    height:7vw;
    width:13.5vw;
    /* border-style:hidden; */
    font-size: 3.2vw;
    white-space: nowrap;
    background-color: transparent;
    border-color: white;
}

.App-body .btn:hover {
    background-color: white;
    border-color: white;
    color:black;
}


#logo-full {
    position: absolute;
    top: 22%;
    left: 30%;
    width: 60%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#logo-small {
    position: absolute;
    width: 18%;
    height: 20%;
    left: 0vw;
    top: .04%;
    background-color:white;
    /* height: auto; */
}

.restaurantInfo
{
    position: relative;
    margin: 0 auto;
}
  
.restaurantImg {
    position: relative;
}
.showMoreButton {
    position: relative;
    top: 15vw;
        
}
#resCard
{
    width: 30%;
    margin: 0 auto;
}
#Greeting
{
    font-size: 100px;
}