.custom-button {
    width: 100px;
    position: absolute;
    top: 3%;
    right: 5%;
    /* Adjust the width as needed */
}

.login-button {
    margin-left: 20px;
    position: absolute;
    right: 20vw;
    top: 2vw;
    /* Adjust the space between the buttons as needed */
}

.signup-button {
    margin-left: 2px;
    position: absolute;
    right: 3.5vw;
    top: 2vw;
    /* Adjust the space between the buttons as needed */
}

.App-body .btn {
    height:7vw;
    width:13.5vw;
    /* border-style:hidden; */
    font-size: 3.2vw;
    white-space: nowrap;
    background-color: transparent;
    border-color: white;
}

.App-body .btn:hover {
    background-color: white;
    border-color: white;
    color:black;
}


#logo-full {
    position: absolute;
    top: 22%;
    left: 30%;
    width: 60%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#logo-small {
    position: absolute;
    width: 18vw;
    height: 10vw;
    left: 0vw;
    top: .04%;
    background-color:white;
    /* height: auto; */
}

.restaurantInfo
{
    position: relative;
    text-align: left;
}
  
.restaurantImg {
    position: relative;
    width: 350px;
    height: 200px;
}
.wishlistRestaurantImg{
    width: 250px;
    height: 150px
}
.showMoreButton {
    position: relative;
    top: 15vw;
        
}
.restaurant
{
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 25%;
    right:5%;
    width: 70%;
    margin-left: 35%;
    height: 73%;
    background-color: #22223B;
}
#resCard
{
    width: 500px;
    height: 300px;
    margin: 0 auto;
}
#resCard .CardBody
{
    width:100px;
}
.cardText{
    text-align: left;
}

#Greeting
{
    font-size: 7vw;
    position: inherit;
}

.wishlist
{
    position:absolute;
    height: 25vw;
    width: 25vw;
    overflow-y: auto;
    height: 75%;
    width: 25%

}
#wishCard
{
    width: 80%;
    margin: 0 auto
}

.showMoreButton
{
    position: inherit;
    width: auto;
    height: auto;
    
}
#FindRestaurants
{
    position: relative;
    right:0;
    
}
#name
{
    position: inherit;
    font-size: 1.5vw;
}
#wishTitle
{
    font-size: 3vw;
}
#restaurantCardImg{
    position: relative;
    width: 475px;
    height: 250px;
    margin-bottom: 10px;
}
#foodType{
    border-radius: 8px;
}
#wishlist-button{
    padding-top: 20px;
    text-align: center;
}